<div id='app'>
<div>
  <h2>Reviews</h2>
  <div v-for="review in reviews" v-if="isPositive(review.text)">
    <h3>{{ review.text }}</h3>
    <h5>Rating: {{ review.rating }}</h5>
    <h5>Reviewer: {{ review.reviewer }}</h5>
    <br>
  </div>    
<div>
  Text: <input type="text" v-model="newReviewText"><br>
  Rating: <input type="text" v-model="newReviewRating"><br>
  Reviewer: <input type="text" v-model="newReviewReviewer"><br>
  <button v-on:click="addReview()">Add Review</button>
</div>
</div>